* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    
    background-color: black;
    padding: 20px;
}

img {
    display: block;
    margin: 30px auto 0;
    max-width: 100%;
    width: 200px;
    height: auto;
}

h1 {
    text-align: center;
    font-weight: 400px;
    font-size: clamp(2.5rem, 8vw, 4.375rem);
    line-height: 1.2;
    color: #ffff;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: clamp(1.25rem, 4vw, 1.56rem);
    line-height: 1,2;
    color: #FFDE21;
    margin: 60px 0 29px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

input {
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 10px;
    opacity: 1;
    background: #FFFFFF40;
    border: 1px solid #FFFFFF33;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
    color: #FFFFFF;
}

button {
    display: block;
    margin: 40px auto 0;
    width: 100%;
    max-width: 250px;
    height: 45px;
    background: #AEC346;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 18px 40px 0px #AEC34659;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}


@media (max-width: 1024px) and (min-width: 481px) {
    body {
        padding: 40px;
    }

    h2 {
        margin: 50px 0 25px;
    }

    div {
        gap: 15px;
    }

    input {
        max-width:
    }
}


@media (max-width: 480px) {
    h2 {
        margin: 40px 0 20px;
    }

    div {
        flex-direction: column;
        width: 100%;
    }

    input {
        max-width: 100%;
    }

    button {
        margin-top: 30px;
    }
}